"""Quick setup:

1. rename this file to config_local.py`.
2. Drop in your real MySQL login details.
"""

DB_USER = "your_mysql_username"
DB_PASSWORD = "your_mysql_password"
DB_HOST = "localhost"
DB_PORT = 3306  # your port, usually its 3306
DB_NAME = "your database name: basketball_stats"
