# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.DS_Store
.env
.venv
.ipynb_checkpoints/

# VS Code
.vscode/

# MacOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
config_local.py

# claude
.claude/ 
CLAUDE.md
